.burger
  input#menu-switch(type="checkbox")
  nav#navigation
    ul
      li.active
        a(href="") Главная
      li
        a(href="") Характеристики здания
      li
        a(href="") Техническое оснащение и сервис
      li
        a(href="") Местоположение
      li
        a(href="") История и архитектура
      li
        a(href="") Контакты
  
  label.menu-switch(for='menu-switch')
    span