footer#footer.footer
  p.footer__address 
    | Элитный деловой особняк
    br
    | Санкт-Петербург, Английская набережная, д. 70
  p.footer__copy 
    | © 
    span.year
    |  Все права защищены
    br 
    a(href="https://uno-agency.ru/") UNO Advertising