footer#footer.footer
  p.footer__address 
    | Элитный деловой особняк
    br
    | Санкт-Петербург, ул. Галерная, д. 73, лит. А
  p.footer__copy 
    | Создано в 
    a(href="https://uno-agency.ru/") UNO Advertising