.building-detail{
  background-color: $floorColor;

  & .p-building-detail__image{
    padding: 20px 0;

    & img{
      display: block;
      margin: 0 auto;
      max-height: 80vh;
    }
  }
  
  & .p-building-detail__nav {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 90px;
    padding: 8px;
    right: 0;
    background: $white;

    & li {
      display: block;
      position: static;

      & a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #878b86;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .05em;
        font-family: $montserratFont;
        transition: .2s;
      }

      &.active{
        & a{
          background: $floorActive;
          color: $white;
        }
      }
    }
  } 

  section.p-building-detail{
    padding: 40px 10px 10px;
  
    & article.p-building-detail__info{
      display: block;
  
      & h1 {
        font-size: 30px;
        font-family: inherit;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 1em;
      }

      & .p-building-detail__space{
        padding: 20px 0;
        border-top: 1px solid $borderColor;
        & li{
          font-size: $fz6;
          margin-bottom: 10px;
          position: relative;

          &:first-child{
            padding-left: 30px;
            &::before{
              display: block;
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 20px;
              height: 15px;
              background-image: url('/assets/img/icons/check.svg');
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
              z-index: -1;
            }
          }
        }
      }

      & .p-building-detail__buttons{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        & .btn {
          background: $white;
          padding: 15px 30px;
          text-align: center;
          display: inline-block;
          font-family: $montserratFont;
          font-size: $fz2;
          text-decoration: none;
          font-weight: $semiBold;
          letter-spacing: $ls1;
          text-transform: uppercase;
          color: $stage;
          cursor: pointer;
          transition: .2s;

          &:hover {
            background: $stage;
            color: $white;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .building-detail section.p-building-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    min-height: 80vh;

    

    & article.p-building-detail__info {
      flex-basis: 30%;
      order: 3;

      & .p-building-detail__space{
        display: inline-block;
  
        & li {
          font-size: $fz9;
        }
      }

      & p{
        font-size: $fz9;
      }
    }

    & .p-building-detail__image {
      flex-basis: 55%;
      order: 2;
    }

    & .p-building-detail__nav {
      padding-top: 0;
      flex-direction: column-reverse;
      order: 1;
      top: inherit;
      position: relative;
      background-color: transparent; 

      & li{
        margin: .5em 0;

        & a{
          width: 40px;
          height: 40px;
          line-height: 40px;

          &:hover{
            background-color: $borderColor;
            text-decoration: none;
          }

          
        }

        &.active{
          & a:hover{
            background: $floorActive;
            color: $white;
          }
        }
      }
    }
  }
}