.bg-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  max-height: 760px;
  width: calc(100% + 100% / 3);
  margin-bottom: 30px;
}

.service__content{
  background-color: $gray;
  display: flex;
  padding: 30px;

  & ul.list{
    list-style-type: disc;
    display: flex;
    flex-direction: column;

    & .part{
      & li.item {
        list-style-type: disc;
        padding-bottom: 10px;
        font-size: $fz8;

        & ul.list{
          padding: 20px 0 0 20px;
          & li.item {
            list-style-type: none;
            padding-bottom: 10px;
            font-size: $fz7;
          }
        }
      }
    }
  }
}

p.service__text{
  font-size: $fz12;
  padding: 0 20px;
  margin-bottom: 20px;
  color: $headerColor;
}

.serice__link{
  padding: 20px 20px 20px 0;

  & a{
    font-size: $fz5;
    color: $stage;
    position: relative;
    line-height: 1;
    font-family: $montserratFont;

    &:hover{
      &::after{
        left: 120%;
      }
    }
  }

  & + #footer{
    background-color: $gray;
  }
}

@media (min-width: 992px) {
  .service__content{
    justify-content: flex-end;
    padding: 100px 0 370px;
    position: relative;
    background-color: $white;

    & ul.list{
      flex-direction: row;
      position: relative;
      z-index: 1;

      & .part{
        padding-left: 20px;
        & ul.list{
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 1;
          & li.item {
            list-style-type: none;
          }
        }
      }
    }

    & .container{
      &>ul.list{
        &::after{
          display: block;
          position: absolute;
          content: '';
          top: -100px;
          left: -800px;
          width: 2000px;
          height: 813px;
          background-color: $gray;
          z-index: -1;
        }
      }
    }
  }

  .bg-image {
    margin: -300px 0 190px 0;
    display: flex;
    align-self: flex-end;
    width: 90%;
    position: relative;
    z-index: 1;
  }

  .service__text{
    font-size: $fz12;
    margin-bottom: 75px;
    padding: 0 0 0 40px;
  }

  .serice__link{
    padding: 0 0 0 40px;
    margin-bottom: 135px;

    & a{
      &::after{
        display: block;
        position: absolute;
        content: '';
        left: 110%;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 75px;
        height: 7px;
        background-image: url('/assets/img/icons/arrow-right.svg');
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        transition: .2s;
      }
    }
  }
}