.bg-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
  max-height: 760px;
  width: calc(100% + 100% / 3);
  margin-bottom: 30px;
}

.service__content{
  background-color: $gray;
  display: flex;
  padding: 30px;

  & ul.list{
    list-style-type: disc;
    display: flex;
    flex-direction: column;

    & .part{
      & li.item {
        list-style-type: disc;
        padding-bottom: 10px;
        font-size: $fz8;

        & ul.list{
          padding: 20px 0 0 20px;
          & li.item {
            list-style-type: none;
            padding-bottom: 10px;
            font-size: $fz7;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .service__content{
    justify-content: flex-end;
    padding: 100px 0 370px;
    position: relative;
    & ul.list{
      width: 85%;
      flex-direction: row;
      padding-left: 20px;

      & .part{
        & ul.list{
          display: flex;
          flex-direction: column;
          & li.item {
            list-style-type: none;
          }
        }
      }
    }

    &::after{
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: 80%;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      background-color: $white;
    }
  }

  .bg-image {
    margin-top: -300px;
    display: flex;
    align-self: flex-end;
    width: 90%;
    position: relative;
  }
}