.questions{
  padding: 100px 0;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  p{
    color: $white;
    font-size: $fz10;
    margin-bottom: 65px;
    line-height: 1.3;
  }

  & a.button {
    background-color: transparent;
    border: 1px solid $stage;

    &:hover{
      border: 1px solid $white;
    }
  }

  & + #footer{
    background-color: $gray;
  }
}

.bg-image.spec__image{
  margin: 0;
}

@media (min-width: 992px){

  .questions{
    padding: 200px 0 170px 140px;
    p{
      font-size: $fz12;
    }
  }
}