extends ../layout/page

block variables
  - var page = 'Контакты'

block content
  main.main
    .container
      h1.title КОНТАКТЫ
      p.subtitle 
        | У появились вопросы? 
        | Требуется больше деталей? 
        | Мы будем рады ответить на ваши вопросы. 
        | Хотите организовать личную встречу и экскурсию по зданию? 
        | Позвоните нам или напишите на e-mail 
        a(href="mailto:office-centre@mail.ru")
          b office-centre@mail.ru
        | , и вместе мы подберем наиболее подходящий вариант.
  include ../includes/module/form