extends ../layout/page

block variables
  - var body__class = 'body'
  - var wrapper__class = 'wrapper wrapper__floor'
  - var page = 'Контакты'

block content
  main.main
    .container
      h1 КОНТАКТЫ
      p У появились вопросы? Требуется больше деталей? Мы будем рады ответить на ваши вопросы. Хотите организовать личную встречу и экскурсию по зданию? Напишите или позвоните нам, и вместе мы подберем наиболее подходящий вариант.