extends ../layout/floor

block variables
  - var active = '3'

block content-1
  h1 3. этаж

block content-2
  li Свободно
  li 340 м²
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-3.svg", alt="")

block description
  | Коридорно-кабинетная система. На этаже 2 санузла с душевыми, 3 отдельных. Помещение под кухню, с инженерной подготовкой. Помещение под ЦОД (серверную) с инженерной подготовкой. Подсобные помещения. Окна выходят на Неву и Васильевский остров и на атриум. Доступ с лифта и по лестнице. 