extends ../layout/floor

block variables
  - var body__class = 'body'
  - var wrapper__class = 'wrapper'
  - var active = '2'

block content-1
  h1 2. этаж

block content-2
  li Свободно
  li 83 м2
  li 1 300 р. + НДС 20%

block description
  | Многофункциональное помещение. Возможно использование под отдельную входную группу с ресепшн и охраной или рекреационную зону.