extends ../layout/floor

block variables
  - var body__class = 'body'
  - var wrapper__class = 'wrapper wrapper__floor'
  - var active = '4'

block content-1
  h1 4. этаж

block content-2
  li Свободно
  li 350 м²
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-4.svg", alt="")

block description
  | Планировка Open space. 3 санузла. Подсобное помещение. Доступ с лифта и по лестнице. Окна выходят на Неву и Васильевский остров и на атриум.