extends ../layout/floor

block variables
  - var active = '2'

block content-1
  h1 2. этаж

block content-2
  li Свободно
  li 228,2 м²
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-2.svg", alt="")
  
block description
  | Коридорно-кабинетная система. 2 санузла. Балкон с видом на пристань. 4 камина. 
  | Старинное зеркало и лепнина. Окна выходят на Неву, Васильевский остров и атриум. Доступ на лифте и по лестнице.

