extends ../layout/floor

block variables
  - var body__class = 'body'
  - var wrapper__class = 'wrapper'
  - var active = '4'

block content-1
  h1 4. этаж

block content-2
  li Свободно
  li 83 м2
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-4.svg", alt="")

block description
  | Многофункциональное помещение. Возможно использование под отдельную входную группу с ресепшн и охраной или рекреационную зону.