extends ../layout/floor

block variables
  - var active = '4'

block content-1
  h1 4. этаж

block content-2
  ul.p-building-detail__space
    li.cancel Недоступно
    li 350 м²
    li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-4.svg", alt="")

block description
  | Планировка Open space. 3 санузла. Подсобное помещение. Окна выходят на Неву, Васильевский остров и атриум. Доступ на лифте и по лестнице.