extends ../layout/floor

block variables
  - var body__class = 'body'
  - var wrapper__class = 'wrapper wrapper__floor'
  - var active = '2'

block content-1
  h1 2. этаж

block content-2
  li Свободно
  li 370 м²
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-2.svg", alt="")
  
block description
  | Коридорно-кабинетная система. 2 санузла с душевыми, 1 отдельный. Помещение под кухню, с инженерной подготовкой. Балкон с видом на пристань. 4 камина. Старинное зеркало и лепнина. Окна выходят на Неву, Васильевский остров и на Атриум. Доступ с лифта и по лестнице.

