extends ../layout/floor

block variables
  - var active = '1'

block content-1
  h1 1. этаж

block content-2
  li Свободно
  li 83 м²
  li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-1.svg", alt="")

block description
  | Многофункциональное помещение. Возможно использование под отдельную входную группу с ресепшн и охраной или рекреационную зону.