extends ../layout/floor

block variables
  - var active = '2'

block content-1
  h1 2. этаж

block content-2
  ul.p-building-detail__space
    li.cancel Недоступно
    li 228,2 м²
    li 1 300 р. + НДС 20%
  ul.p-building-detail__space
    li Свободно
    li 78 м²
    li 1 300 р. + НДС 20%
  //- ul.p-building-detail__space
  //-   li 
  //-     span
  //-       img(src="/assets/img/icons/check.svg", alt="check")
  //-     | +
  //-     span
  //-       img(src="/assets/img/icons/check-blue.svg", alt="check")
  //-     | Свободно
  //-   li 228,2 м² + 78 м² = 306,2 м²
  //-   li 1 300 р. + НДС 20%

block image
  img(src="/assets/img/floor/floor-2-half.svg", alt="")
  
block description
  | Коридорно-кабинетная система. 2 санузла. Балкон с видом на пристань. 4 камина. 
  | Старинное зеркало и лепнина. Окна выходят на Неву, Васильевский остров и атриум. Доступ на лифте и по лестнице.

