extends ../layout/page

block variables
  - var page = 'Фотогалерея'

block content
  main.main
    .container
      h1.title Фотогалерея
  section.gallery__outter
    .container
      .gallery-holder
        .gallery.panel.panel--center
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-1.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-1.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-2.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-2.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-3.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-3.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-4.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-4.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-5.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-5.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-6.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-6.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-7.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-7.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-8.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-8.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-9.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-9.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-10.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-10.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-11.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-11.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-12.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-12.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-13.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-13.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-14.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-14.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-15.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-15.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-16.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-16.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-17.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-17.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-18.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-18.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-19.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-19.jpg" alt="image")
          a.gallery__item.gallery__item--wide(href="./assets/img/gallery/gallery-20.jpg", data-caption="", data-fancybox="images-preview")
            span
              img(src="./assets/img/gallery/gallery-20.jpg" alt="image")