extends ../layout/page

block variables
  - var page = 'История и архитектура'

block content
  main.main
    .container
      h1.title История и архитектура
      p.subtitle Особняк С. В. Гвейера - А. В. Стеткевича в Санкт-Петербурге – это старинное каменное четырехэтажное строение, расположенное на Английской набережной, 70.  Здание является памятником архитектуры. Оно неоднократно перестраивалось, из барокко в классицизм, а потом в эклектику.