extends ../layout/page

block variables
  - var page = 'История и архитектура'

block content
  main.main
    .container
      h1.title 
        | История
        br 
        | и архитектура
      p.subtitle 
        | Особняк С. В. Гвейера - А. В. Стеткевича в Санкт-Петербурге – это старинное каменное четырехэтажное строение, 
        | расположенное на Английской набережной, 70.  Здание является памятником архитектуры. 
        | Оно неоднократно перестраивалось, из барокко в классицизм, а потом в эклектику.
  section.history__block
    .container
      .part
        p.digit XVIII
        p.text 
          | Впервые участок начал застраиваться со стороны набережной в 1720–1730-х&#160;гг. 
          | Первое его здание было построено в 1738&#160;г. 
          | Это был двухэтажный, на подвалах, каменный дом в стиле классицизм в семь осей по фасаду с высоким крыльцом. 
          | Его владельцем был поручик князь Михаил Васильевич Голицын. 
          br
          | В 1761 г. один из наследников поручик Александр Михайлович Голицын продал семейный особняк (барочное здание) 
          | английскому купцу Джеймсу Рейнгольту, совладельцу фирмы, экспортировавшей пеньку, сало и полотно. 
          | Через 2 года Рейнгольт перепродал его своим соотечественникам - негоциантам Богдану (Годфри) Торнтону и Джону Келли (Кейли), 
          | который в 1789&#160;г. выкупил долю совладельца. 
          | В это время Келли был генеральным консулом Великобритании в Петербурге. 
          | Особняк был переделан в 1856&#160;г. по проекту архитектора А.А. Бравуры в стиле классицизм. 
          |Сохранив прежнюю высоту, здание приобрело широкий балкон и треугольный фронтон.
      .part
        p.title Английская набережная у Сената, 1801&#160;г., 
          br
          | Бенжамен Патерсен
        .pic
          img(src="./assets/img/pictures/picture-1.jpg", alt="image")

  section.history__block
    .container
      .part
        p.digit XIX
        p.text 
          | Дом и дело унаследовал сын Джон Келли-младший, тоже успешный коммерсант. 
          | В 1869 г. его имущество перешло к наследникам, 
          | почти сразу продавшим дом Сэмюэлю (Самуилу Васильевичу) Гвейеру, британскому подданному, 
          | который уже числился по русскому купечеству. 
          | В 1871 г. купец заказал академику К. И. Реймерсу переделку в эклектическом стиле фасада и интерьеров главного здания. 
          | Бельэтаж был оформлен коринфскими пилястрами с перемычками. 
          | На втором этаже, имеющем балкон, были заново отделаны два парадных зала. 
          | На Гвейере заканчивается английский период старинного особняка. 
          br
          | В 1896&#160;г. владельцами стали отставной генерал-майор Александр Степанович Стеткевич и его жена Александра Васильевна, 
          | которой он принадлежал до революции. 
          | При Стеткевичах в 1896 г. примыкающий к особняку доходный дом с улицы Галерная был надстроен четвертым этажом по проекту архитектора А. С. Хренова.
      .part
        p.title Английская набережная, 1900&#160;г.
        .pic
          img(src="./assets/img/pictures/picture-2.jpg", alt="image")

  section.history__block
    .container
      .part
        p.digit XX
        p.text 
          | В начале XX века в строении по Галерной улице располагался районный суд. 
          | После Великой Отечественной войны дом № 70 по Английской набережной занимало студенческое мужское общежитие Института живописи, 
          | скульптуры и архитектуры им. И. Е. Репина. 
          | Помещения были перепланированы, но частично сохранили элементы отделки (лепка, камины) 1870-х&#160;гг.
      .part
        .pic
          img(src="./assets/img/pictures/picture-3.jpg", alt="image")

  section.history__block
    .container
      .part
        p.digit XXI
        p.text 
          | До 2004&#160;г. в здании располагался научно-исследовательский институт Министерства обороны. 
          | В 2007&#160;г. была произведена масштабная реставрация особняка под функционал высококлассного современного делового центра. 
          | На этапе бизнес-проекта владельцев консультировали ведущие управляющие компания Maris Properties, 
          | Colliers International, Bright Rich.
      .part
        p.title Английская набережная, 2016&#160;г.
        .pic
          img(src="./assets/img/pictures/picture-4.jpg", alt="image")
