extends ../layout/page

block variables
  - var page = 'Местоположение'

block content
  main.main
    .container
      h1.title Местоположение
      p.subtitle Особняк расположен в двух шагах от Новой Голландии, главный фасад ориентирован на Английскую набережную. Административные здания, банки, гостиницы, рестораны, музеи составляют достойное окружение офисного особняка на Английской набережной, 70.