extends ../layout/page

block variables
  - var page = 'Техническое оснащение и сервис'

block content
  main.main
    .container
      h1.title 
        | Техническое
        br
        | оснащение и сервис
  .service__content
    ul.list
      .part
        li.item 
          p Инженерные системы премиального качества:
          ul.list
            li.item 
              p Системы пожарной и охранной безопасности
            li.item 
              p Вентиляция и кондиционирование на базе Quatroclima, Systemair, Flaktwoods, Lessar
            li.item 
              p Централизованная система диспетчеризации и управления зданием (BMS) Siemens
            li.item 
              p Учет и контроль доступа
            li.item 
              p Оптоволоконный кабель, СКС
            li.item 
              p Система подогрева полов
            li.item 
              p Система автономной водоподготовки-очистка холодной и горячей воды
      .part
        li.item 
          p Электроснабжение 500 КвА по 2 категории
        li.item 
          p Усилители сигнала мобильной связи
        li.item 
          p Конференц-зал на 130 гостей
          ul.list
            li.item
              p Акустическая система
            li.item
              p Микрофон
        li.item 
          p Панорамный и грузовой лифты (Kone и Orona) в стеклянных шахтах
        li.item 
          p Отапливаемый паркинг на 21 машиноместо
        li.item 
          p Комфортные зоны общего пользования и санузлы
        li.item 
          p Качественный и деликатный сервис
  .bg-image.bg-image--to-right.p-building__image1(style="background-image:url('./assets/img/service-pic.jpg')")
  p.service__text Бизнес-центр удачно расположен в историческом центре города: развитая инфраструктура, собственная парковка, транспортная доступность.
  .serice__link
    a(href="location.html") Подробнее о местоположении