extends ../layout/page

block variables
  - var page = 'Характеристики здания'

block content
  main.main
    .container
      h1.title Характеристики здания
      p.subtitle Более 3400 м² современных офисных площадей и подземный паркинг расположены за фасадом исторического 4-х этажного здания. Поэтажный формат аренды создает атмосферу клубной приватности. Особняк идеально подходит на роль представительского офиса компании с высоким статусом.