extends ../layout/page

block variables
  - var page = 'Характеристики здания'

block content
  main.main
    .container
      h1.title 
        |Характеристики 
        br 
        |здания
      p.subtitle Более 3400 м² современных офисных площадей и подземный паркинг расположены за фасадом исторического 4-х этажного здания. 
        | Поэтажный формат аренды создает атмосферу клубной приватности. 
        | Особняк идеально подходит на роль представительского офиса компании с высоким статусом.
  .bg-image.spec__image(style="background-image:url('./assets/img/spec-1.jpg')")
  .questions(style="background-image:url('./assets/img/spec-2.jpg')")
    .container
      p 
        | У появились вопросы? 
        br
        | Требуется больше деталей? 
        br 
        | Мы будем рады ответить на ваши вопросы. 
        | Хотите организовать личную встречу и экскурсию по зданию? 
        br 
        | Напишите или позвоните нам, и вместе мы подберем наиболее подходящий вариант.
      a.button(href="./contacts.html") связаться
