extends ../layout/page

block variables
  - var page = 'Характеристики здания'

block content
  main.main
    .container
      h1.title 
        |Характеристики 
        br 
        |здания
      p.subtitle Более 3400 м² современных офисных площадей и подземный паркинг расположены за фасадом исторического 4-х этажного здания. 
        | Поэтажный формат аренды создает атмосферу клубной приватности. 
        | Особняк идеально подходит на роль представительского офиса компании с высоким статусом.
  .bg-image.spec__image(style="background-image:url('./assets/img/spec-1.jpg')")
  section.spec__list
    .container
      ul
        .part
          li Парадный вход с Английской набережной
          li Круглосуточная охрана и видеонаблюдение в здании и паркинге
          li Доступ по индивидуальному ключу
          li Банкетный зал-конференц-зал
          li Поэтажная аренда помещений с планировкой openspace
          li Высокие потолки (до 2,7 м до 3,5 м)
          li Атриум со стеклянным куполом
        .part
          li Просторные холлы выполненные в классическом стиле
          li Благоустроенная терраса с видом на реку Нева и исторический центр города
          li Полезная офисная площадь: 
            ul
              li 1 этаж - 83 м²
              li 2 этаж - 370 м²
              li 3 этаж - 340 м²
              li 4 этаж - 350 м²
          li Нагрузка на пол 400 кг
  section.safety
    .container(style="background-image:url('./assets/img/service-pic.jpg')")
      .content
        p 
          | Многоуровневая система безопасности, 
          | современное техническое оснащение, собственный паркинг, 
          | премиальная отделка c историческими элементами соответствуют самому требовательному вкусу.
        .serice__link
          .container
            a(href="./service.html") Техническое оснащение и сервис
  section.data
    .container
      h2.title Помещения в аренду
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Этаж
            th(role="columnheader") Высота потолков, м
            th(role="columnheader") Полезная площадь, м²
            th(role="columnheader") Статус
            th(role="columnheader") Цена за кв. метр
            th(role="columnheader") 
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") 4.
            td(role="cell") 2.7
            td(role="cell") 350
            td(role="cell") 
              span.check
              | Свободно
            td(role="cell") 1 300 р. + НДС 20%
            td(role="cell") 
              a(href="./floor-4.html") Подробнее
          tr(role="row")
            td(role="cell") 3.
            td(role="cell") 3.6 - 3.7
            td(role="cell") 340
            td(role="cell")
              span.check
              | Свободно
            td(role="cell") 1 300 р. + НДС 20%
            td(role="cell") 
              a(href="./floor-3.html") Подробнее
          tr(role="row")
            td(role="cell") 2.
            td(role="cell") 2.8 - 3.6
            td(role="cell") 370
            td(role="cell")
              span.check
              | Свободно
            td(role="cell") 1 300 р. + НДС 20%
            td(role="cell") 
              a(href="./floor-2.html") Подробнее
          tr(role="row")
            td(role="cell") 1.
            td(role="cell") 3.7 - 4.2
            td(role="cell") 83
            td(role="cell")
              span.check
              | Свободно
            td(role="cell") 1 300 р. + НДС 20%
            td(role="cell") 
              a(href="./floor-1.html") Подробнее
  section.questions(style="background-image:url('./assets/img/spec-2.jpg')")
    .container
      p 
        | У появились вопросы? 
        br
        | Требуется больше деталей? 
        br 
        | Мы будем рады ответить на ваши вопросы. 
        | Хотите организовать личную встречу и экскурсию по зданию? 
        br 
        | Напишите или позвоните нам, и вместе мы подберем наиболее подходящий вариант.
      a.button(href="./contacts.html") связаться
